.idea
__pycache__
*~
.ts_env
secrets/*
!secrets/git_key.template
!secrets/IngestionGoogleKey.json.template
!secrets/TranslationGoogleKey.json.template
ingestion/secrets/
/serge/ts/*
!/serge/ts/README.md
/serge/db/*
!/serge/db/README.md
**/.DS_Store
.env
/tmp