Example of a ssh-key goes here that will allow you to authenticate with source git repository for vcs or ts.
You can run something like the following to generate this 

`ssh-keygen -t rsa -N "" -f /var/tms/secrets/git_deploy.key`

ssh-rsa hereGoesAThreeHundredPlusCharacterStringYouGenerated person@example.com