Example json that goes here. You can get this from downloading from your Google Console.
Or through google IAM.
https://cloud.google.com/docs/authentication/getting-started#creating_a_service_account
This account will be used for OAuth-ing any Google Drive accounts.
{
  "type": "service_account",
  "project_id": "serge-project-123",
  "private_key_id": "privatekeyid123",
  "private_key": "privatekey123",
  "client_email": "serge-g-translate@serge-123.iam.gserviceaccount.com",
  "client_id": "1234",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/serge-g-translate%40serge-123.iam.gserviceaccount.com"
}